#navlist li {
	    display:inline;
		padding-right:20px;
	  }
	  li a{
	    color:white;
	  }
	  .navbar {
	    background-color: #333;
		padding-top:10px;
		padding-bottom:10px;
		position:fixed;}
	  .first {
	    display:block;
		margin-left:auto;
		margin-right:auto;
	  }
	  .padding{
	    padding:10px;
	  }
	  p, h4 {
	    padding-left:10px;
	  }
	  body{
	    background-color:#fff2cc;}